@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
}

body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.3s, color 0.3s;
}